{% block header %}
	<div class='banner'>
		<h1>{{ settings.UNIVERSITY_NAME }}</h1>
		<h3>{{ settings.UNIVERSITY_MOTO }}</h3>
		<p></p>
	</div><!--banner-->
<!--	<div class='menus'>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">WebSiteName</a>
				    </div>
				  
				    <ul class="nav navbar-nav">
				      <li><a href="/cms/students">Students</a></li>
				      <li><a href="/cms/employees">Employees</a></li>
				      <li><a href="/cms/subjects">Subjects</a></li> 
				      <li><a href="/cms/exams">Exams</a></li> 
				    </ul>
				  </div>
			</nav>
	</div>
	-->
{% endblock %}