{% block header %}
<div class='menus'>
	<div class="btn-group">
	  <a href="/cms/"><button type="button" class="btn btn-primary">Home</button></a>
	  <a href="/cms/students"><button type="button" class="btn btn-primary">Students</button></a>
	  <a href="/cms/exams"><button type="button" class="btn btn-primary">Exams</button></a>
	  <a href="/cms/exam_reports"><button type="button" class="btn btn-primary">Exam Reports</button></a>
	  <a href="/cms/subjects"><button type="button" class="btn btn-primary">Subjects</button></a>
	  <a href="/cms/employees"><button type="button" class="btn btn-primary">Employees</button></a>
	</div>
</div>	
{% endblock %}